gather_viator_data_task:
  description: Fetch activities and tours available at {destination} during {start_date}
    to {end_date} from Viator taking into account the travellers ages ({ages}). Include links with the appropriate language tag according to the travellers origin ({origin}).
  expected_output: A JSON of activities with all the following fields for each product option.
    - Product Title.
    - Duration.
    - Product Option description.
    - Link with the appropriate tag depending on the origin language (just add 'es-ES/', 'fr-FR/' or 'it-IT/' after 'viator.com/'). THEY MUST HAVE THE APPROPRIATE ORIGIN LANGUAGE TAG.
    - Availability and Pricing during the travel dates.
  async_execution: false
  agent: research_agent

fetch_weather_data_task:
  description: Get a 5-day weather forecast for {destination}.
  expected_output: Daily weather forecasts for {destination} for the following 5 days.
  async_execution: false
  agent: research_agent

web_search_additional_research_task:
  description: >
    Use RealTimeSearchTool to find additional information in {destination} that match traveler interests. Take into account the following indications;
    {num_travelers} people named {names} aged {ages} are Wayners from {origin} travelling to
    {destination} between {start_date} arriving at {flight_outward_arrival_time}
    and {end_date} departing at {flight_return_departure_time} from {destination}'s airport.
    The travellers are staying at {hotel_name}, which is at {hotel_address} and already booked for {names}.
    Is breakfast included in the hotel? {breakfast_included}. The flights are also booked;
    {flight_data}.
  expected_output: A truthful and complete list covering the following categories;
    1) Generic information about the destination.
    2) Best areas to explore by feet.
    3) Hidden gems off-the-beaten-track.
    4) Generic tips and cultural norms.
    5) 5 breakfast, 5 inexpensive and 5 mid-range but top-rated restaurants.
    6) Nightlife activities according to the travellers ages ({ages}).
    7) 5 Fun facts about the destination.
  async_execution: false
  agent: research_agent

date_specific_events_task:
  description: > 
    Use RealTimeSearchTool to identify cultural, sports or entertainment activities/events occurring at the specific dates at which the travellers are travelling and that run temporarily. Take into account the following indications;
    {num_travelers} people named {names} aged {ages} are Wayners from {origin} travelling to
    {destination} between {start_date} arriving at {flight_outward_arrival_time}
    and {end_date} departing at {flight_return_departure_time} from {destination}'s airport.
    The travellers are staying at {hotel_name}, which is at {hotel_address} and already booked for {names}.
    Is breakfast included in the hotel? {breakfast_included}. The flights are also booked;
    {flight_data}.
  expected_output: >
    A list of events/activities that run temporarily and that the travellers can enjoy during their stay, ordered chronologically from {start_date} to {end_date} and including the exact date(s) in which they run.
  async_execution: false
  agent: research_agent

itinerary_task:
  description: >
    Perform a complete travel itinerary taking into account the following indications:
    
    {num_travelers} people named {names} aged {ages} are Wayners from {origin} travelling to 
    {destination} between {start_date} arriving at {flight_outward_arrival_time} 
    and {end_date} departing at {flight_return_departure_time} from {destination}'s airport. 
    The travellers are staying at {hotel_name}, which is at {hotel_address} and already booked for {names}. 
    Is breakfast included in the hotel? {breakfast_included}. The flights are also booked:
    {flight_data}. 
    
    Only hotel and flights are booked, any other activity is not booked yet.
    
    IF NO VIATOR AFFILIATE LINKS HAVE BEEN GATHERED (containing "mcid=42383&pid=P0020289"), DO NOT INCLUDE VIATOR ACTIVITIES, THEY ARE NOT AVAILABLE.
    IF AVAILABLE, PRIORITIZE THE TOP ACTIVITIES OFFERED BY VIATOR WITH AFFILIATE LINK WHERE POSSIBLE, ALWAYS INCLUDING LINK, PRICE, RATING AND THE EXACT TIME AT WHICH THEY ARE AVAILABLE (IT MUST BE ONE OF THE AVAILABLE TIMES).
    DO NOT OVERCHARGE THE ITINERARY, LEAVE SOME TIME TO RELAX AND TO EXPLORE FREELY.
    NEVER REPEAT ACTIVITIES.
    DO NOT INVENT ANY INFORMATION.
    YOU MUST MAKE LUNCH AND DINNER TIMES ADEQUATE FOR THE TRAVELLERS' USUAL LUNCH AND DINNER TIMES ACCORDING TO THE CULTURE OF THEIR DEPARTURE CITY ({origin}).
    BREAKFAST IS NEVER INCLUDED IN THE HOTEL AT THE DAY OF ARRIVAL; IF INCLUDED, IT IS INCLUDED IN SUBSEQUENT DAYS. 
    EVERY ELEMENT OF THE ITINERARY MUST BE JUSTIFIED WITH THE WEATHER FORECAST AND TRAVELLERS' AGES.
    ASSUME THAT HOTEL CHECK-IN TIME IS 15:00 FOR THE ITINERARY. HOWEVER, LUGGAGE MAY BE LEFT IN THE HOTEL BEFORE CHECK-IN TIME.
    INCLUDE PRICE ESTIMATES OF ALL THE RESTAURANTS.
    Viator activities must have affiliate links. These contain "mcid=42383&pid=P0020289". If any Viator link in the itinerary does not contain that, REMOVE IT AND SWITCH IT FOR AN ALTERNATE ACTIVITY.
    If the following links contain a free tour for the destination ({destination}), you MUST include a Civitatis free tour in the itinerary with the corresponding link. Here you have the available links:
    """https://www.civitatis.com/es/milan/free-tour-milan?aid=2264
    https://www.civitatis.com/es/oporto/free-tour-oporto?aid=2264
    https://www.civitatis.com/es/paris/visita-guiada-paris?aid=2264
    https://www.civitatis.com/es/budapest/free-tour-budapest?aid=2264
    https://www.civitatis.com/es/niza/free-tour-niza?aid=2264
    https://www.civitatis.com/es/lisboa/free-tour-lisboa?aid=2264
    https://www.civitatis.com/es/lyon/free-tour-lyon?aid=2264
    https://www.civitatis.com/es/bruselas/visita-guiada-bruselas?aid=2264
    https://www.civitatis.com/es/praga/free-tour-praga?aid=2264
    https://www.civitatis.com/es/palma-mallorca/free-tour-palma-mallorca?aid=2264
    https://www.civitatis.com/es/viena/free-tour-viena?aid=2264
    https://www.civitatis.com/es/roma/free-tour-roma?aid=2264
    https://www.civitatis.com/es/bucarest/free-tour-bucarest?aid=2264"""
    THE TRAVELLER IS FROM {origin}.
    IF THE TRAVELLER IS FROM SPAIN (BECAUSE THE TRAVELLER IS SPANISH), THE ITINERARY MUST BE IN CASTILIAN SPANISH.
    IF THE TRAVELLER IS FROM FRANCE (BECAUSE THE TRAVELLER IS FRENCH), THE ITINERARY MUST BE IN FRENCH.
    IF THE TRAVELLER IS FROM ITALY (BECAUSE THE TRAVELLER IS ITALIAN), THE ITINERARY MUST BE IN ITALIAN.
    IF THE TRAVELLER IS FROM SPAIN (BECAUSE THE TRAVELLER IS SPANISH), KEEP THE "es" IN THE LINKS.
    IF THE TRAVELLER IS FROM FRANCE (BECAUSE THE TRAVELLER IS FRENCH), CHANGE THE "es" IN THE LINKS FOR "fr".
    IF THE TRAVELLER IS FROM ITALY (BECAUSE THE TRAVELLER IS ITALIAN), CHANGE THE "es" IN THE LINKS FOR "it".
    YOU MUST MAKE SURE THAT THE EVENTS PROPOSED IN THE ITINERARY ARE SET AT THE RIGHT DATE.
    THE LANGUAGE OF THE ITINERARY MUST BE {origin}'s country's national language.
    YOU MUST STRUCTURE THE LAST DAY SO THE TRAVELLER ARRIVES AT THE AIRPORT 2.5 HOURS BEFORE ITS FLIGHT DEPARTURE TIME.
    YOU MUST PRIORITIZE THE MOST RELEVANT AND KEY SPOTS/ACTIVITIES OF THE DESTINATION.
  expected_output: >
    Personalized and comprehensive travel itinerary using the information collected by the research agent.
    It must contain the following structure:
    - Greeting and presentation of the recommended itinerary.
    - Hotel Information (stars, location, reviews...).
    - Flight Information.
    - Specific weather forecast day by day. 
    - The complete itinerary (the last day must be scheduled so the traveller arrives at the airport 2.5 hours before the flight scheduled time).
    - Fun facts and top tips, such as what to book in advance.
    - Olga Informal Signature.
  context:
    - gather_viator_data_task
    - fetch_weather_data_task
    - web_search_additional_research_task
    - date_specific_events_task
  agent: itinerary_developer

directions_task:
  description: >
    Get directions and distances between ALL the locations in the itinerary. 
    Take into account that any direction at the beginning of the day is from the traveller's hotel.
    ALWAYS TRY TO INCLUDE detailed directions from and to the airport (IF YOU FIND THEM).
    Include distances and links but never use [], just include the link as-is, making sure it is clickable in a Whatsapp message.
    Valid Google Maps links are as follows www.google.com/maps/dir/.
    NEVER PUT GOOGLE MAPS LINKS IN THE FOLLOWING FORMAT goo.gl/maps/.
    YOU MUST STRUCTURE IT SO THE TRAVELLER ARRIVES AT THE AIRPORT 2.5 HOURS BEFORE THE RETURNING FLIGHT DEPARTURE TIME.
    YOU MUST INCLUDE DIRECTIONS FROM THE AIRPORT TO THE ACCOMMODATION.
    YOU MUST INCLUDE DIRECTIONS FROM THE ACCOMMODATION TO THE AIRPORT TOO.
    DIRECTIONS TO AND FROM THE AIRPORT MUST BE THROUGH PUBLIC TRANSPORTATION.
    ALWAYS INCLUDE ESTIMATED FARE FOR PUBLIC TRANSPORTATION ROUTES, IF AVAILABLE.
  expected_output: The FULL, COMPLETE, previous itinerary with distances and specific google maps links between every activity/place. ALL THE DETAILS FROM THE PREVIOUS ITINERARY MUST BE KEPT. EVERYTHING MUST BE IN THE SAME LANGUAGE. 
  async_execution: false
  agent: research_agent

itinerary_translation_and_writing:
  description: >
    Develop a message in WhatsApp format in {origin}'s COUNTRY'S NATIONAL GENERAL language (THIS IS IMPORTANT: NATIONAL OFFICIAL GENERAL LANGUAGE) keeping all the information and the complete, detailed day-by-day itinerary prepared to be sent to the user. Consider the following indications:
    
    {num_travelers} people named {names} aged {ages} are Wayners from {origin} travelling to 
    {destination} between {start_date} arriving at {flight_outward_arrival_time} 
    and {end_date} departing at {flight_return_departure_time} from {destination}'s airport. 
    The travellers are staying at {hotel_name}, which is at {hotel_address} already booked for {names}. 
    Is breakfast included in the hotel? {breakfast_included}. The flights are also booked:
    {flight_data}. 
    Only hotel and flights are booked, any other activity is not booked yet.
    DO NOT INVENT ANY INFORMATION.
    DO NOT USE FORMAL LANGUAGE. NEVER USE WORDS LIKE "USTED". BE CLOSE AND PERSONAL.
  expected_output: >
    A playful, INFORMAL (never use words like -Usted-), well-structured and extremely informative Whatsapp text-message in text format (NOT MARKDOWN) READY TO BE SENT DIRECTLY TO {names} (wayners) in their country's national language. IT MUST BE IN {origin}'s country's national language.
    It must include the FULL COMPLETE DETAILED RECOMMENDED ITINERARY DAY BY DAY WITH ALL THE DAYS ACTIVITIES AND TRANSPORT OPTIONS developed up to now (including prices and all useful data points) addressing the travellers as "Wayners". 
    Make sure you frame it as a RECOMMENDED itinerary and consider that THE FULL OUTPUT WILL BE RECEIVED BY {names}, so JUST PROVIDE THE TEXT TO BE SENT TO THE TRAVELLERS. NEVER ASSUME ACTIVITES (EXCEPT HOTELS AND FLIGHTS) ARE ALREADY BOOKED, THEY ARE JUST RECOMMENDATIONS. Sign as Olga from Waynabox.
    It must have the FULL COMPLETE following structure and the full text must be in {origin}'s COUNTRY NATIONAL LANGUAGE:
    - Greeting and presentation of the recommended itinerary.
    - Hotel Information (stars, location, reviews...).
    - Flight Information.
    - Specific weather forecast day by day. 
    - The complete itinerary. You MUST KEEP EVERY SINGLE DETAIL, INCLUDE FACTS, DATA POINTS AND COMPLETE LINKS. The last day must be scheduled so the traveller arrives at the airport 2.5 hours before the flight scheduled time.
    - Fun facts and top tips, such as what to book in advance.
    - Olga Informal Signature.
  agent: itinerary_translator_and_writer

PR_adaptation:
  description: >
    Improve the message to make it extremely beautiful and engaging while keeping all the details.
    BE CLOSE AND INFORMAL, BUT EXTREMELY INFORMATIVE.
    Make sure it contains A LOT of emojis and textual techniques to make it extremely engaging and appealing.
    Ensure the traveller understands that it is a recommended itinerary and none of the mentioned restaurants or activities are booked, they are just recommendations.
    IMPORTANT: THIS IS A MUST, DO NOT USE "#" AND MAKE THE FORMAT VERY CLEAN AND APPEALING.
    IMPORTANT: USE BOLD FOR THE TITLE OF EACH SECTION TO MAKE IT EASIER TO FOLLOW.
    DIVIDE THE DAYS OF THE ITINERARY STARTING EACH DAY WITH **DAY 1**, **DAY 2**, **DAY 3**. ONLY DO THIS IN THE ACTUAL ITINERARY. USE BOLD THERE AND IN THE HOURS.
    DIVIDE THE DAYS OF THE WEATHER FORECAST BY ACTUAL DAY AND MONTH. FOR INSTANCE, "- 9 de noviembre de 2024: Parcialmente soleado...".
    DO NOT USE BOLD ANYWHERE ELSE, ONLY IN THE TITLES OF SECTIONS, DAYS AND HOURS. ABSOLUTELY NOWHERE ELSE.
    DO NOT INCLUDE THE SPECIFIC DAYS OF THE WEEK THAT EACH DAY CORRESPONDS TO. THIS MEANS IT MUST NOT SPECIFY WHETHER EACH DAY IS A MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY OR SUNDAY.
    IMPORTANT: USE BULLET POINTS.
    IMPORTANT: DO NOT USE MARKDOWN, MAKE IT VERY EASY TO FOLLOW.
    IMPORTANT: YOU MUST SCHEDULE THE TRAVELLER TO ARRIVE AT THE AIRPORT 2.5 HOURS BEFORE THEIR RETURN DEPARTURE TIME ON THE LAST DAY.
    IMPORTANT: Breakfast is never included in the hotel at the day of arrival; if included, it is included in subsequent days.
  expected_output: >
    A Whatsapp message with the same information and level of detail but PR-optimized for engagement and aesthetics.
    It must be really appealing, eye-catching and contain A TON OF EMOJIS.
    It must seem written by a human expert.
    THE LAST DAY MUST BE STRUCTURED SO THE TRAVELLER ARRIVES AT THE AIRPORT 2.5 HOURS BEFORE DEPARTING.
    It must have the FULL COMPLETE following structure and the full text must be in {origin}'s country national official language:
    - Greeting and presentation of the recommended itinerary.
    - Hotel Information (stars, location, reviews...).
    - Flight Information.
    - Specific weather forecast day by day. YOU MUST KEEP THE WEATHER FROM THE PREVIOUS ITINERARY. DIVIDE THE DAYS OF THE FORECAST BY ACTUAL DAY AND MONTH ("- 9 de noviembre de 2024:...").
    - The itinerary. YOU MUST KEEP EVERY SINGLE DETAIL AND IT MUST BE BEAUTIFULLY PRESENTED WITH ALL LINKS CLICKABLE AND THE ADEQUATE SPACING BETWEEN PARAGRAPHS.
    - Fun facts and top tips, such as what to book in advance.
    - Olga Informal Signature.
    IMPORTANT: BOLD MUST ONLY BE USED IN THE TITLES OF SECTIONS, TITLES OF DAYS AND THE SPECIFIC HOURS.
    IMPORTANT: IT MUST ALWAYS ALWAYS ALWAYS INCLUDE A DISCLAIMER (NOT IN BOLD) THAT SAYS THAT NONE OF THE MENTIONED RESTAURANTS OR ACTIVITIES ARE BOOKED, THEY ARE JUST RECOMMENDATIONS.
  agent: PR_director

Itinerary_Curation:
  description: >
    Revise the itinerary to make sure it is attractive, consistent with the researched information, makes chronological sense, contains a wide selection of activities and is not repetitive or boring.

    KEEP THE SAME LEVEL OF DETAIL.
    
    IMPORTANT, THIS IS A MUST, DO NOT USE "#" AND MAKE THE FORMAT VERY CLEAN AND APPEALING.
    IMPORTANT, USE BOLD FOR THE TITLE OF EACH SECTION TO MAKE IT EASIER TO FOLLOW.
    DIVIDE THE DAYS OF THE ITINERARY STARTING EACH DAY WITH **Day 1**, **Day 2**, **Day 3**... ONLY DO THIS IN THE ACTUAL ITINERARY. USE BOLD THERE AND IN THE HOURS.
    DIVIDE THE DAYS OF THE WEATHER FORECAST BY ACTUAL DAY AND MONTH. FOR INSTANCE, "- 9 de noviembre de 2024: Parcialmente soleado...".
    DO NOT USE BOLD ANYWHERE ELSE, ONLY IN THE TITLES OF SECTIONS, DAYS AND HOURS. ABSOLUTELY NOWHERE ELSE.
    DO NOT INCLUDE THE SPECIFIC DAY OF THE WEEK THAT EACH DAY CORRESPONDS TO. THIS MEANS IT MUST NOT SPECIFY WHETHER EACH DAY IS A MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY OR SUNDAY.
    IMPORTANT, USE BULLET POINTS.
    IMPORTANT, DO NOT USE MARKDOWN, NEVER INCLUDE THE "#" CHARACTER AND MAKE IT VERY EASY TO FOLLOW.
    IMPORTANT, YOU MUST SCHEDULE THE TRAVELLER TO ARRIVE AT THE AIRPORT 2.5 HOURS BEFORE THEIR RETURN DEPARTURE TIME ON THE LAST DAY.
    BE INFORMAL AND JOYFUL (DO NOT USE WORDS LIKE "USTED" OR "VOUS").
    USE THE TRAVELLER'S ORIGIN COUNTRY LANGUAGE (THE MOST SPOKEN LANGUAGE IN THE TRAVELLER'S COUNTRY). THE TRAVELLER IS FROM {origin}.
    IMPORTANT: Breakfast is never included in the hotel at the day of arrival; if included, it is included in subsequent days.
    Valid Google Maps links are as follows www.google.com/maps/dir/.
    NEVER PUT GOOGLE MAPS LINKS IN THE FOLLOWING FORMAT goo.gl/maps/.
    Y0U MUST MAKE THE ITINERARY SO THAT THE TRAVELLER ARRIVES AT THE AIRPORT 2.5 HOURS BEFORE THE RETURNING FLIGHT ON THE LAST DAY.
        
    Take into account the following information about the trip:
    
    {num_travelers} people named {names} aged {ages} are Wayners from {origin} travelling to 
    {destination} between {start_date} arriving at {flight_outward_arrival_time} 
    and {end_date} departing at {flight_return_departure_time} from {destination}'s airport. 
    The travellers are staying at {hotel_name}, which is at {hotel_address} and already booked for {names}. 
    Is breakfast included in the hotel? {breakfast_included}. YOU MUST REMEMBER THAT: {breakfast_included}. 
    The flights are already booked:
    {flight_data}. 
    Only hotel and flights are booked, any other activity is not booked yet.

  expected_output: >
    The same Whatsapp message with the same level of detail but a revised itinerary that contains at least the same level of detail as well but is sure to delight the travellers. 
    The language must be Castilian Spanish if the traveller is from Spain, french is the traveller is from France and italian if the traveller is from Italy. The traveller is from {origin}.
    IT MUST BE INFORMAL STYLE, CLOSE AND PERSONAL BUT PROFESSIONAL.
    It must be really appealing, eye-catching and contain A TON OF EMOJIS.
    It must seem written by a human expert.
    IT MUST NOT CONTAIN REPEATED ACTIVITIES.
    IT MUST NOT CONTAIN THE DAYS OF THE WEEK THAT EACH DAY CORRESPONDS TO. THIS MEANS IT MUST NOT SPECIFY WHETHER EACH DAY IS A MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY OR SUNDAY.
    IT MUST BE IN SECOND PERSON INFORMAL STYLE IN TERMS OF VERBS AND SENTENCES. THIS IS A NON-NEGOTIABLE. BE CLOSE, JOYFUL AND INFORMAL.
    IT MUST BE STRUCTURED SO THE TRAVELLER ARRIVES AT THE AIRPORT 2.5 HOURS BEFORE THE RETURNING FLIGHT ON THE LAST DAY OF THE TRIP. THIS IS CRITICAL.
    The links must be clickable.
    The days of the itinerary must be divided starting each day with **Día 1:...**, **Día 2:...**, **Día 3:...**... For instance: "**Día 1: 9 de noviembre de 2024**. This must only be in the actual itinerary, USE BOLD THERE AND IN THE HOURS.
    The days of the weather forecast must be divided by actual day and month. For instance, "- 9 de noviembre de 2024: Parcialmente soleado...". NEVER EVER use "**Día 1...* (for instance) in the weather forecast, just the actual day and month.
  context:
    - gather_viator_data_task
    - fetch_weather_data_task
    - web_search_additional_research_task
    - date_specific_events_task
    - PR_adaptation
  agent: Itinerary_Director





